/* import { extendTheme } from '@chakra-ui/react'

const customTheme = extendTheme ({

  colors: {
    gray: '#616161',
    white: "#f6f6f6",
    black: "#000"
  },
})
 */

.board {
  justify-content: center;
  display:flex;
}

.cells {
  border: 5px solid rgb(44, 44, 44);
  background-color: rgb(105, 105, 105);
  width: 150px;
  height: 150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 75px;
}

.text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.button {
  color: rgb(209, 209, 209);
	text-transform: uppercase;
	background: #4a4a4a;
	padding: 20px;
	border-radius: 5px;
	border: none;
	transition: all 0.4s ease 0s;
  cursor: pointer;

  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: rgb(44, 44, 44);
}

.cells:hover {
  background-color: rgb(44, 44, 44);
}